@font-face {
  font-family: "iconfont"; /* Project id 3670226 */
  src: url('iconfont.woff2?t=1664780520990') format('woff2'),
       url('iconfont.woff?t=1664780520990') format('woff'),
       url('iconfont.ttf?t=1664780520990') format('truetype'),
       url('iconfont.svg?t=1664780520990#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instant-error:before {
  content: "\e63f";
}

.icon-zhangdan_o:before {
  content: "\eba4";
}

.icon-dituzhuye:before {
  content: "\e66e";
}

.icon-shebei:before {
  content: "\e618";
}

.icon-dingdanguanli:before {
  content: "\e619";
}

.icon-icon_website_huabanfuben:before {
  content: "\e6d1";
}

.icon-19:before {
  content: "\e616";
}

.icon-renyuanguanli:before {
  content: "\e62e";
}

.icon-xinjian:before {
  content: "\e63e";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-order:before {
  content: "\e698";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-dengpao:before {
  content: "\e611";
}

.icon-ditufuwu:before {
  content: "\e617";
}

.icon-anquan:before {
  content: "\ec4d";
}

